.right-side {
  @include flex-box(column, space-between, 20px);
  position: relative;
  // width: 60%;
  min-width: 1000px;
  height: 100%;
}

.right-side-header {
  @include flex-box(row, space-between, 20px);
  width: 100%;

  .input-box{
    @include flex-box(row, space-between, 20px);
    width: 50%;
  }

}