$light-theme-color: rgba(130, 112, 190, 0.7);
$theme-color: #8270BE;
$input-color: #6C7F98;

$base-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

$nav-bar-height : 60px;
$side-bar-width : 150px;

@mixin flex-box($direction, $align, $gap) {
  display: flex;
  align-items: center;
  justify-content: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin base-button {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
  }
}


