h1 {
  font-weight: bold
}

.login-form {
  @include flex-box(column, center, 60px);
  width: 400px;
  .input-box {
    @include flex-box(column, center, 20px);
    width: 100%;
  }
  .button-box {
    @include flex-box(column, center, 20px);
    width: 100%;
    .guide-line {
      width: 100%;
      @include flex-box(row, space-between, 0px);
      font-size: 14px;
      font-weight: bold;
      span {
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: black;
        }
      }
    }
  }
}


